# Ignore build directories
/cmake-build-debug/
.build/
build

# Ignore VSCode settings
.vscode/

# Ignore specific VSCode C++ properties
.vscode/c_cpp_properties.json

# Ignore executable files
*.exe
*.xml
